<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      <!--  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 旧来の宣言-->
      
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <!-- 
	<p sec:authentication="name"></p>
	<p sec:authentication="principal.authorities"></p>
	<p sec:authentication="principal.password"></p>
	 -->
	 
	<!--  (1) ROLE_ADMINのユーザのみ表示 -->
	<div sec:authorize="hasRole('ROLE_ADMIN')">
	    <form method="get" th:action="@{/adminPage}">
	        <input type="submit" value="AdminPageへ">
	    </form>	
	</div>

	<!-- 追記 (2) ROLE_USERのユーザのみ表示 -->
	<div sec:authorize="hasRole('ROLE_USER')">
	    <form method="get" th:action="@{/userPage}">
	        <input type="submit" value="UserPageへ">
	    </form>
	</div>
	
	<!-- 追記 (3) ログイン済みのユーザのみ表示 -->
	<div sec:authorize="isAuthenticated()">
	    <form method="post" th:action="@{/logout}"> <!-- (1) ログアウト処理のパスを指定 -->
	        <input type="submit" value="ログアウト">
	    </form>
	</div>
</body>
</html>